* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

section .wrap {
    position: relative;
}

section .wrap>* {
    position: absolute;
}

header {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow: hidden;
    max-width: 1280px;
    margin: 15px auto 0 auto;
}

header .logo img {
    width: 24%;
    margin-left: 34%;
    margin-right: 38%;
    margin-bottom: 10px;
}

header .pizzaok {
    position: relative;
    background-image: url("img/pizzaok.jpg");
    width: 100%;
    height: 55vh;
    border-top: 4px solid #444;
    border-bottom: 4px solid #333;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header .pizzaok p {
    position: absolute;
    width: 100%;
    top: 15%;
    padding: 10px;
    background-color: rgba(132, 50, 168, .5);
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header aside {
    margin-top: 30px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header aside .contact1 {
    float: left;
    margin-right: 20px;
    margin-left: 10vw;
    line-height: 150%;
}

aside .contact1 p {
    font-size: 18px;
}

aside .contact1 .street,
aside .contact1 .town {
    font-size: 14px;
}

i.fas.fa-phone {
    color: black;
    font-size: 20px;
}

aside .contact2 {
    position: relative;
}

aside div.contact2 p {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

aside .contact2 button {
    position: absolute;
    font-size: 18px;
    padding: 10px 15px;
    background-color: orange;
    border: 2px solid rgb(132, 50, 168);
    border-radius: 15px;
    color: white;
    left: 57%;
    cursor: pointer;
    transition: .5s;
}

aside .contact2 button:hover {
    background-color: darkolivegreen;
    border: 4px solid orange;
    color: orange;
}

/*main*/
main {
    background-color: burlywood;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 5vh auto;
    padding: 0 3vw;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

main div.size h1 {
    margin-top: 1vh;
    text-transform: uppercase;
    padding: 4%;
    color: white;
    background-color: rgb(84, 116, 28);
    margin-bottom: 5%;
}

main div.size .cm {
    float: left;
    width: 100%;
    margin-left: 8px;
}

main .undersize {
    float: left;
    width: 100%;
    height: 3vh;
    background-color: rgb(84, 116, 28);
    margin: 5px 0;
}

main div.size .cm>div {
    float: left;
    width: 18%;
    background-color: rgba(143, 91, 165, .8);
    margin: 0 6% 3%;
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    border-radius: 50%;
}

main div.size .cm>div.s1 {
    background-color: rgba(154, 133, 163, 0.8);
}

main div.size .cm>div.s3 {
    background-color: rgba(84, 48, 100, 0.8);
}

main .border {
    float: left;
    width: 100%;
    height: 1vh;
    background-color: rgb(84, 116, 28);
    margin: 5px 0;
}

main section .pizza {
    width: 100%;
}

main div.price {
    float: left;
    width: 24%;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 4px;
    background-color: rgba(143, 91, 165, .8);
    font-weight: bold;
    padding: 9px 5px;
    color: white;
}

main div.price:nth-of-type(1) {
    background-color: rgba(154, 133, 163, 0.8);
}

main div.price:nth-of-type(3) {
    background-color: rgba(84, 48, 100, 0.8);
}

section.salads div.other>div p {
    float: left;
    text-align: center;
    padding: 10px 20px 5px 20px;
    font-size: 26px;
    font-weight: bold;
}

section.salads div.price {
    float: right;
    margin-right: 5px;
}

section.salads h4 {
    text-align: left;
    margin-left: 40px;
}

div.garlic.clearfix {
    margin: 10px 5px 5px 0;
}

div.desc {
    float: right;
    width: 60%;
    margin-right: 10px;
}

/* footer*/
footer {
    background-color: rgba(132, 50, 168, 1);
    max-width: 1240px;
    margin-bottom: 50px;
}

footer .container {
    font-size: 24px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding: 10px 0;
    color: white;
}

footer button {
    width: 200px;
    height: 60px;
    background-image: url("img/fb_string.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 40px;
}

@media (orientation:portrait) and (min-width:360px) {
    header .logo img {
        width: 30vw;
    }

    header .pizzaok p {
        /*        top: 55px;*/
        padding: 15px;
        font-size: 32px;
        letter-spacing: 6px;
    }

    aside .contact1 p {
        font-size: 20px;
    }

    aside .contact1 .street,
    aside .contact1 .town {
        font-size: 16px;
    }

    aside div.contact2 p {
        font-size: 20px;
    }

    aside .contact2 button {
        font-size: 20px;
        padding: 15px 20px;
    }

    .fa,
    .far,
    .fas {
        font-family: "Font Awesome 5 Free";
        font-size: 22px;
        margin-top: 10px;
    }

    footer button {
        margin-left: 80px;
    }
}

@media (orientation:portrait) and (min-width:411px) {
    aside .contact1 p {
        font-size: 20px;
        line-height: 170%;
    }

    aside .contact1 .street,
    aside .contact1 .town {
        font-size: 16px;
    }

    aside div.contact2 p {
        font-size: 16px;
    }

    aside .contact2 button {
        font-size: 24px;
        padding: 20px 25px;
        margin-top: 10px;
    }

    .fa,
    .far,
    .fas {
        font-family: "Font Awesome 5 Free";
        font-size: 24px;
    }

    i.fas.fa-phone {
        color: black;
        font-size: 22px;
    }

    aside .contact2 button {
        font-size: 24px;
        margin-top: 10px;
        padding: 20px 25px;
        left: 55%;
    }

    main div.size .cm {
        margin-left: 0px;
    }

    main div.size .cm>div {
        width: 20vw;
        height: 20vw;
        line-height: 15vw;
        border-radius: 50%;
    }

    main div.price:nth-of-type(2) {
        margin-left: 35px;
    }

    main div.price:nth-of-type(3) {
        margin-left: 35px;
    }

    section.salads div.other>div p {
        padding-left: 50px;
    }

    section.salads div.price {
        margin-right: 15px;
    }

    footer button {
        margin-left: 110px;
        margin-top: 0px;
    }

    footer .container {
        padding: 25px 0;
    }

    div.desc {
        font-weight: bold;
        padding-top: 8px;
    }
}

@media (orientation:portrait) and (min-width:540px) {
    footer button {
        margin-left: 170px;
        margin-top: 0px;
    }

}

@media (orientation:portrait) and (min-width:768px) {
    header .pizzaok p {
        top: 100px;
        padding: 35px;
        font-size: 42px;
        letter-spacing: 12px;
    }

    header aside.contacts {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    header aside .contact1 {
        margin-left: 15vw;
    }

    aside .contact1 p {
        font-size: 28px;
    }

    aside .contact1 .street,
    aside .contact1 .town {
        font-size: 22px;
    }

    i.fas.fa-phone {
        font-size: 32px;
    }

    aside div.contact2 p {
        font-size: 28px;
    }

    aside .contact2 button {
        font-size: 40px;
        margin-top: 15px;
        margin-left: 12px;
        padding: 20px 25px;
    }

    main {
        margin: 0 auto;
    }

    main div.size h1 {
        float: left;
        width: 48%;
        margin-top: 30px;
        margin-left: 4px;
        margin-right: 8px;
        font-size: 50px;
    }

    main div.size .cm {
        float: left;
        width: 48%;
        margin-left: 15px;
    }

    main div.size .cm>div {
        float: left;
        width: 25%;
        background-color: rgba(143, 91, 165, .8);
        margin: 30px 10px;
        font-weight: bold;
        padding: 10px 10px;
        color: white;
        border-radius: 50%;
    }

    div.size .cm>div.s1,
    div.size .cm>div.s2,
    div.size .cm>div.s3 {
        width: 12vw;
        height: 12vw;
        margin-top: 42px;
        line-height: 10vw;
        font-size: 22px;
    }

    main {
        width: 100%;
    }
    section.pizza:nth-of-type(1),
    section.pizza:nth-of-type(2) {
        width: 70%;
        margin: 0 auto;
    }

    section.pizza:nth-of-type(1) h3,
    section.pizza:nth-of-type(2) h3 {
        font-size: 24px;
    }

    section.pizza:nth-of-type(1) p,
    section.pizza:nth-of-type(2) p {
        font-size: 20px;
    }

    section.pizza:nth-of-type(3),
    section.pizza:nth-of-type(4),
    section.pizza:nth-of-type(5),
    section.pizza:nth-of-type(6) {
        width: 70%;
        margin: 0 auto;
    }

    section.pizza:nth-of-type(3) h3,
    section.pizza:nth-of-type(4) h3,
    section.pizza:nth-of-type(5) h3,
    section.pizza:nth-of-type(6) h3 {
        font-size: 24px;
    }

    section.pizza:nth-of-type(3) p,
    section.pizza:nth-of-type(4) p,
    section.pizza:nth-of-type(5) p,
    section.pizza:nth-of-type(6) p {
        font-size: 20px;
    }

    section.salads div.other>div p {
        padding: 10px 20px 5px 80px;
    }

    section.salads div.price {
        margin-right: 55px;
    }

    section.salads div.other>div p {
        padding: 10px 20px 5px 80px;
    }

    section.salads div.price {
        margin-right: 35px;
    }

    section.salads h4 {
        margin-left: 170px;
    }


    div.container {
        margin-top: 30px;
    }

    div.desc {
        font-weight: bold;
        text-align: left;
        padding-top: 15px;
    }

    div.garlic .price {
        margin-left: 50px;
    }

    footer button {
        margin-left: 290px;
    }
        header .pizzaok p {
            padding: 36px;
            font-size: 32px;
            letter-spacing: 14px;
        }
    }


    @media (orientation:portrait) and (min-width:1024px) {

        header .pizzaok p {
            padding: 35px;
            font-size: 46px;
            letter-spacing: 16px;
        }

        header aside .contact1 {
            margin-left: 15vw;
        }

        aside .contact1 p {
            font-size: 38px;
        }

        aside .contact1 .street,
        aside .contact1 .town {
            font-size: 26px;
        }

        .fa,
        .far,
        .fas {
            font-size: 40px;
        }

        aside div.contact2 p {
            font-size: 34px;
        }

        aside .contact2 button {
            font-size: 40px;
            margin-top: 15px;
            margin-left: 50px;
            padding: 30px 35px;
        }
        main div.price {
            width: 28%;
            font-size: 22px;
        }
        section.salads div.price {
            width: 16vw;
            margin-right: 8vw;
        }
        div.garlic div.price {
            width: 16vw;
            margin-left: 10vw;
        }
        footer button {
            margin-left: 410px;
        }
       
    }

    @media (orientation:landscape) {
        header .logo img {
            width: 33%;
            margin-left: 33%;
            margin-right: 38%;
            margin-bottom: 10px;
        }
        header .pizzaok {
            top: 20%;
            height: 100vh;
        }

        header .pizzaok p {
            top: 14%;
            letter-spacing: 10px;
            line-height: 150%;
        }

        header aside .contact1 {
            margin-left: 15vw;
        }

        aside .contact1 p {
            font-size: 22px;
        }

        aside .contact1 .street,
        aside .contact1 .town {
            font-size: 18px;
            margin-bottom: 2px;
        }

        .fa,
        .far,
        .fas {
            font-size: 22px;
            margin-top: 5px;
        }

        aside div.contact2 p {
            font-size: 20px;
        }

        aside .contact2 button {
            padding: 15px 30px;
            left: 59%;
        }
        main div.size h1 {
            letter-spacing: 10px;
        }
    
        main div.size .cm>div {
            float: left;
            background-color: rgba(143, 91, 165, .8);
            font-weight: bold;
            color: white;
            border-radius: 50%;
        }
    
        div.size .cm>div.s1,
        div.size .cm>div.s2,
        div.size .cm>div.s3 {
            width: 18vw;
            height: 18vw; 
            line-height: 15vw;
            font-size: 24px;
        }
        main div.price {
            width: 28%;
            margin-left: 4vw;
        }
    main section.salads h4 {
        margin-left: 14vw;
    }
    main  section.bread div .desc{
        text-align: left;
        line-height: 46px;
    }
    footer button {
       margin-left: 31vw; 
    }
    }

    @media (orientation:landscape) and (min-width:640px) {
        header .pizzaok p {
            font-size: 32px;
            letter-spacing: 16px;
        }
        main div.size
main div.size .cm {
    margin-left: 3vw;
}
        aside .contact2 button {
            padding: 10px 25px;
            font-size: 24px;
        }

        aside .contact2 button {
            left: 57%;
        }
        footer button {
            margin-left: 35vw; 
         }
    }

    @media (orientation:landscape) and (min-width:768px) {
        header .pizzaok p {
            font-size: 46px;
            letter-spacing: 18px;
        }
    }
    @media (orientation:landscape) and (min-width:1024px) {

        header {max-width: 1240px;
        }
        i.fas.fa-phone {
            color: black;
            font-size: 26px;
        }
        
        main div.size h1 {
            padding: 20px 10px;
            margin-bottom: 20px;
        }
        main div.size .cm {
            margin-left: 60px;
        }

       div.size .cm>div.s1,
        div.size .cm>div.s2,
        div.size .cm>div.s3 {
            width: 150px;
            height: 150px; 
            line-height: 135px;
            font-size: 24px;
        }
        main div.price {
            width: 25%;
        }
        footer {
            margin-left: auto;
            margin-right: auto;
        }
   
    }
    @media (orientation:landscape) and (min-width:1280px) {
        body {
background-image: url("img/rukoladrop.png");
background-repeat: repeat;
        }
        div.contact1 {
            border: 2px solid black;
            background-color: rgba(132, 50, 168, 1);
            color: white;
            padding: 10px 30px;
            border-radius: 10px;
        }
        i.fas.fa-phone {
            color: white;
        }
        aside .contact2 button {
            margin-left: 80px;
        }
        
    }